# Please use global .gitignore file for .vscode/, .idea/, go.work, .envrc, etc.
# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files#configuring-ignored-files-for-all-repositories-on-your-computer

docker-compose.override.yml

state.json

*.out
*.sqlite*
*.txt

.task/
bin/
tmp/
vendor/

# build.sh: local Go toolchain and SQLite data dir
.goroot/
state/

# build.sh: cross-compiled per-arch FerretDB binaries (menu options 11/12)
dist/

**/testdata/fuzz/

# Rendered static docs site (built on demand / at deploy time)
docs/_site/
